/* Overall styles */
body {
    background-color: #ffffff;
    font-family: "Rubik", sans-serif;
    color: rgb(75, 75, 75);
    font-size: 20px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

h2 {
    font-size: 2.3rem;
}

/* Both devices */
/* Layout */
header {
    background-color: #ffffff;
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
}

main {
    position: relative;
    top: 4rem;
}

/* Navbar container 2 */

.logo {
    display: flex;
    align-items: center;
    margin: 24px;
}

/* Navbar content */

.logo img {
  height: 32px;
  width: 32px;
}

.logotype {
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
}

.logotype .colmar {
    font-weight: 500;
}

.logotype .academy {
    font-weight: 400;
    color: rgb(212, 212, 212);
}

/* Navigation menu */

ul {
    list-style-type: none;
    padding: 8px;
}

li {
    display: inline;
    padding: 16px;
    color: rgb(49, 49, 49);
    font-size: 0.8rem;
}

/* Container */

.grey-container {
    background-color: rgb(212, 212, 212);
    display: flex;
    align-items: center;
}

.grey-container img {
    width: 60vw;
    margin: 32px 24px;
    
}

.white-container {
    display: flex;
    align-items: center;
}

.white-container img {
    width: 60vw;
    margin: 32px 24px 0 24px;
    
}

/*Banner set*/


.banner-text {
    width: 25vw;
    margin: 70px;
}

.banner-cta {
    color: white;
    background-color: rgb(75, 75, 75);
    text-align: center;
    margin: 4vh 0;
    padding: 1.5vh 0;
    width: 100%;
}

/*Information set*/

.white-container h2, p {
    margin: 32px 24px 24px 24px;
    width: 60vw;
}

.information-right {
    width: 40vw;
}