* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    /* Fonts */
    font-size: 20px;
    font-family: "Rubik", sans-serif;
}

p, h1, h2, h4 {
    color: rgb(75, 75, 75);
}

h2 {
    font-size: 2.3rem;
}


/* Navbar container 1 */

.navbar {
    background-color: white;
    height: 64px;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

/* Navbar container 2 */

.logo {
    display: flex;
    align-items: center;
    margin: 24px;
}

/* Navbar content */

.logo img {
  height: 32px;
  width: 32px;
}

.logotype {
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
}

.logotype .colmar {
    font-weight: 500;
}

.logotype .academy {
    font-weight: 400;
    color: rgb(212, 212, 212);
}

/* Navigation menu */

ul {
    list-style-type: none;
    padding: 8px;
}

li {
    display: inline;
    padding: 16px;
    color: rgb(49, 49, 49);
    font-size: 0.8rem;
}

/* Container */

.grey-container {
    background-color: rgb(212, 212, 212);
    display: flex;
    align-items: center;
    position: relative;
    top: 64px;
}

.grey-container img {
    width: 60vw;
    padding: 32px 24px;
    
}

.white-container {
    display: flex;
    align-items: center;
    position: relative;
    top: 64px;
}

.information-left img {
    width: 60vw;
    padding: 32px 24px;
    
}

.information-left-text {
    margin: 32px;
    width: 60vw;
}

.banner-cta {
    color: rgb(212, 212, 212);
    background-color: rgb(75, 75, 75);
    text-align: center;
    margin: 4vh 0;
    padding: 1.5vh 0;
}

.banner-text {
    width: 25vw;
    margin: 70px;
}